footer{
    background-color: aqua;
        .footer{
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            margin-top: 20px;
    }
}

.contenedor-redes-sociales{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 50px;
}
.encabezado-de-redes-sociales{
    display: flex;
    align-content: center;
    justify-content:space-between;
}
.redes__sociales{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}
#instagram{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#tiktok{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#facebook{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#youtube{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#youtubecon:hover{
    transform: scale(1.1) !important;
    
}
#tiktokcon:hover{
    transform: scale(1.1) !important;
    
}
#instagramcon:hover{
    transform: scale(1.1);
    
}
#facebookcon:hover{
    transform: scale(1.1);
    
}
.contenedor-sobre-nosotros{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.contenedor-de-minimapa{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}