footer{
    
        .footer{
            width: 100%;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            background-color: black;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            margin-top: 100px;
    }
}

.contenedor-redes-sociales{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 50px;
}
.encabezado-de-redes-sociales{
    display: flex;
    align-content: center;
    justify-content:space-between;
}
.redes__sociales{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}


#instagram{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#tiktok{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#facebook{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#youtube{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#instagramcon{
    color: white;
}
#tiktokcon{
    color: white;
}
#facebookcon{
    color: white;
}
#youtubecon{
    color: white;
}
#youtubecon:hover{
    transform: scale(1.1) !important;
    
}
#tiktokcon:hover{
    transform: scale(1.1) !important;
    
}
#instagramcon:hover{
    transform: scale(1.1);
    
}
#facebookcon:hover{
    transform: scale(1.1);
    
}
#youtubecon2:hover{
    transform: scale(1.1) !important;
    
}
#tiktokcon2:hover{
    transform: scale(1.1) !important;
    
}
#instagramcon2:hover{
    transform: scale(1.1);
    
}
#facebookcon2:hover{
    transform: scale(1.1);
    
}
.contenedor-sobre-nosotros{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.contenedor-de-minimapa{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}