.contenedor-de-animal1-y-2{
    display: flex;
    flex-direction: column;
}
.contenedor-de-animal3-y-4{
    display: flex;
    flex-direction: column;
}
.contenedor-de-animal5-y-6{
    display: flex;
    flex-direction: column;
}

.dropdown{
background-image: url(../imagenes/fondo-huellas.jpg);
width: 100%;
display: flex;
flex-direction: row;
}
.btn-secondary{
    color:whitesmoke !important;
    background-color: #41464b !important;
    border-color: #6c757d !important;
}
.menu{
    display: flex;
    gap: 40px;
    position:relative;
    left:35px;
}
.caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor__de__animales{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.contenedor-animal1{
    display:flex;
    align-content: center;
    flex-direction:column;
    justify-content: center;
}
.foto-del-perro1{
    display: flex;
    margin: 5px 10px 12px 15px;
    height:150px;
    width:200px;
    border-top: solid 5px gray;
    border-right: solid 5px gray;
    border-bottom:solid 5px gray;
    border-left:solid 5px gray;
}
.nombre-del-perro1{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contenedor-animal2{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.foto-del-perro2{
    display:flex;
    margin: 5px 10px 12px 15px;
    height:150px;
    border-top: solid 5px gray;
    width:200px;
    border-right: solid 5px gray;
    border-bottom:solid 5px gray;
    border-left:solid 5px gray;
}
.nombre-del-perro2{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contenedor-animal3{
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.foto-del-gato1{
    display: flex;
    margin: 5px 10px 12px 15px;
    height:150px;
    border-top: solid 5px gray;
    width:200px;
    border-right: solid 5px gray;
    border-bottom:solid 5px gray;
    border-left:solid 5px gray;
}
.nombre-del-gato1{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contenedor-animal4{
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.foto-del-gato2{
    display: flex;
    margin: 5px 10px 12px 15px;
    height:150px;
    border-top: solid 5px gray;
    width:200px;
    border-right: solid 5px gray;
    border-bottom:solid 5px gray;
    border-left:solid 5px gray;
}
.nombre-del-gato2{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contenedor-animal5{
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.foto-del-perro3{
    display: flex;
    margin: 5px 10px 12px 15px;
    height:150px;
    width:200px;
    border-top: solid 5px gray;
    border-right: solid 5px gray;
    border-bottom:solid 5px gray;
    border-left:solid 5px gray;
}
.nombre-del-perro3{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contenedor-animal6{
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.foto-del-perro4{
    display:flex;
    margin: 5px 10px 12px 15px;
    height:150px;
    border-top: solid 5px gray;
    width:200px;
    border-right: solid 5px gray;
    border-bottom:solid 5px gray;
    border-left:solid 5px gray;
}
.nombre-del-perro4{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.publicidades{
    display:flex;
    flex-direction: row;
    align-items: center;
        .publicidad1{
            width:250px;
            height:500px;
            display:flex;
            flex-direction: row;
    }
}
