@import "variable";
@import  "imagenes";
@import "footer";
@import "contacto";
@import"donaciones";
@import"formulario";
body{
    background-color:whitesmoke !important;
        ul {
        list-style-type:none;
            a{
                text-decoration:none !important;
                color:black !important;
            }
    }
}

.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100px;
    width: 100%;
    
}
.logo{
    margin-left: 550px;
    margin-right: 550px;
    display:flex;
}
.imagen-logo{
    height: 100px;
    width: 500px;
}
.redes-sociales-nav{
    display: flex;
    flex-direction: row;
}
.caja{
    height: 900px;
}
#caja{
    height: 1000px;
}
@media (max-width:768px){
    .contenedor__de__animales{
        display: flex;
        flex-direction: column;
    }
    .contenedor-de-animal1-y-2{
        display: flex;
        flex-direction: row;
    }
    .contenedor-de-animal3-y-4{
        display: flex;
        flex-direction: row;
    }
    .contenedor-de-animal5-y-6{
        display: flex;
        flex-direction: row;
    }
    .navegador{
        display:flex;
        margin-left: 0 !important;
    }
    .contenedor-redes-sociales{
        margin-right: 20px;
    }
    #publicidad1{
        display:none;
    }
    .contenedor-redes-sociales{
        margin-right: 20px;
        display: block;}
    .header{
        display: flex;
        flex-direction: row;
        position: fixed;
        height: 100px;
        width: 100%;
        align-content: space-between;    
        justify-content: space-between;
    }
    .logo{
        display:flex;
        margin-left: 50px;
        margin-right: 0px;
    }
    .imagen-logo{
        height: 100px;
        width: 350px;
    }
    .redes-sociales-nav{
        display: flex;
        flex-direction: row;
    }
    .caja{
        height: 1400px;
    }
    #caja{
        height: 1300px;
}
}

@media  (max-width:480px){
    .contenedor__de__animales{
        display: flex;
        flex-direction: column;
    }
    .contenedor-de-animal1-y-2{
        display: flex;
        flex-direction: column;
    }
    .contenedor-de-animal3-y-4{
        display: flex;
        flex-direction: column;
    }
    .contenedor-de-animal5-y-6{
        display: flex;
        flex-direction: column;
    }
    #publicidad1{
        display:none;
    }
    #publicidad2{
        display:none;
    }
    .contenedor-redes-sociales{
        margin-right: 20px;
        display: block;}
    .header{
        display: flex;
        flex-direction: row;
        position: fixed;
        height: 100px;
        width: 100%;
        align-content: space-between;    
        justify-content: space-between;
    }
    .logo{
        display:flex;
        margin-left: 10px;
        margin-right: 0px;
    }
    .imagen-logo{
        height: 100px;
        width: 200px;
    }
    .redes-sociales-nav{
        display: flex;
        flex-direction: row;
    }
    .caja{
        height: 1400px;
    }
    #caja{
        height: 1300px;
}
}