@import  "imagenes";
@import "footer";
body{
    background-color:whitesmoke !important;
        ul {
        list-style-type:none;
            a{
                text-decoration:none !important;
                color:black !important;
            }
    }
}
.header{
    margin-bottom: 50px;
}
@media (max-width:768px){
    .contenedor-de-animal1-y-2{
        display: flex;
        flex-direction: column;
    }
    .contenedor-de-animal3-y-4{
        display: flex;
        flex-direction: column;
    }
    .navegador{
        display:flex;
        margin-left: 0 !important;
    }
    .contenedor-redes-sociales{
        margin-right: 20px;
    }
    }

@media  (max-width:480px){
    .contenedor__de__animales{
        display: flex;
        flex-direction: column;
    }
    #publicidad1{
        display:none;
    }
    .contenedor-redes-sociales{
        margin-right: 20px;
        display: block;}
}
