.contenedor-animal1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.contenedor-animal2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.contenedor-animal3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.contenedor-animal4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.contenedor-animal5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.contenedor-animal6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.botones, .boton_donar, .boton_volver, .boton-enviar {
  width: 200px;
  height: 50px;
  background-color: whitesmoke;
  text-align: center;
  color: black;
  border: 1px black; }

.boton_donar {
  width: 100px;
  background-color: green;
  color: yellow; }

.boton_volver {
  width: 100px;
  background-color: red; }

.foto-del-perro4 {
  height: 150px;
  width: 200px; }

.contenedor-de-animal1-y-2 {
  display: flex;
  flex-direction: column; }

.contenedor-de-animal3-y-4 {
  display: flex;
  flex-direction: column; }

.contenedor-de-animal5-y-6 {
  display: flex;
  flex-direction: column; }

.contenedor-de-animal7-y-8 {
  display: flex;
  flex-direction: column; }

.dropdown {
  background-image: url(../imagenes/fondo-huellas.jpg);
  width: 100%;
  display: flex;
  flex-direction: row; }

.btn-secondary {
  color: whitesmoke !important;
  background-color: #41464b !important;
  border-color: #6c757d !important; }

.menu {
  display: flex;
  gap: 40px;
  position: relative;
  left: 35px; }

.caja {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contenedor__de__animales {
  display: flex;
  flex-direction: row;
  align-items: center; }

.foto-del-perro1 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro1 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro2 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  border-top: solid 5px gray;
  width: 200px;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro2 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato1 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  border-top: solid 5px gray;
  width: 200px;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato1 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato2 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  border-top: solid 5px gray;
  width: 200px;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato2 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro3 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro3 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro4 {
  display: flex;
  margin: 5px 10px 12px 15px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro4 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato3 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato3 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato4 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato4 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato5 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato5 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato6 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato6 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato7 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato7 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-gato8 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-gato8 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro5 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro5 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro6 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro6 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro7 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro7 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.foto-del-perro8 {
  display: flex;
  margin: 5px 10px 12px 15px;
  height: 150px;
  width: 200px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 5px gray;
  border-left: solid 5px gray; }

.nombre-del-perro8 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px; }

.publicidades {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 600px; }
  .publicidades .publicidad1 {
    display: flex;
    flex-direction: row; }

footer .footer {
  width: 100%;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-top: 100px; }

.contenedor-redes-sociales {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 50px; }

.encabezado-de-redes-sociales {
  display: flex;
  align-content: center;
  justify-content: space-between; }

.redes__sociales {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px; }

#instagram {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px; }

#tiktok {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px; }

#facebook {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px; }

#youtube {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px; }

#instagramcon {
  color: white; }

#tiktokcon {
  color: white; }

#facebookcon {
  color: white; }

#youtubecon {
  color: white; }

#youtubecon:hover {
  transform: scale(1.1) !important; }

#tiktokcon:hover {
  transform: scale(1.1) !important; }

#instagramcon:hover {
  transform: scale(1.1); }

#facebookcon:hover {
  transform: scale(1.1); }

#youtubecon2:hover {
  transform: scale(1.1) !important; }

#tiktokcon2:hover {
  transform: scale(1.1) !important; }

#instagramcon2:hover {
  transform: scale(1.1); }

#facebookcon2:hover {
  transform: scale(1.1); }

.contenedor-sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between; }

.contenedor-de-minimapa {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between; }

.contacto {
  display: flex;
  flex-direction: column; }

.nombre {
  width: 250px;
  margin-bottom: 10px; }

.mail {
  width: 350px;
  margin-bottom: 10px; }

.consulta {
  width: 350px;
  margin-bottom: 10px; }

.localidad {
  width: 250px;
  margin-bottom: 10px; }

.boton-enviar {
  width: 100px;
  background-color: gray; }

.donaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center; }

.encabezado_donaciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center; }

#paw {
  margin-left: 10px; }

.logo-mercado-pago, .logo-correo-argentino, .logo-oca {
  width: 100px;
  height: 100px; }

.correos {
  display: flex;
  flex-direction: row; }

.logo-andreani {
  width: 200px;
  height: 100px; }

.historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body {
  background-color: whitesmoke !important; }
  body ul {
    list-style-type: none; }
    body ul a {
      text-decoration: none !important;
      color: black; }

.logo-mobile {
  visibility: hidden; }

.header {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  height: 100px;
  width: 100%; }

.logo {
  margin-left: 500px;
  margin-right: 100px;
  display: flex; }

.imagen-logo {
  height: 100px;
  width: 500px; }

.redes-sociales-nav {
  display: flex;
  flex-direction: row; }

.carousel-item {
  width: 300px;
  height: 400px; }

.publi {
  width: 300px;
  height: 400px; }

.caja {
  height: 900px; }

#caja {
  height: 1000px; }

@media (max-width: 768px) {
  .imagen-logo-mobile {
    display: none; }
  .contenedor__de__animales {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal1-y-2 {
    display: flex;
    flex-direction: row; }
  .contenedor-de-animal3-y-4 {
    display: flex;
    flex-direction: row; }
  .contenedor-de-animal5-y-6 {
    display: flex;
    flex-direction: row; }
  .contenedor-de-animal7-y-8 {
    display: flex;
    flex-direction: row; }
  .navegador {
    display: flex;
    margin-left: 0 !important; }
  .contenedor-redes-sociales {
    margin-right: 20px; }
  #publicidad1 {
    display: none; }
  .contenedor-redes-sociales {
    margin-right: 20px;
    display: block; }
  .header {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100px;
    width: 100%;
    align-content: space-between;
    justify-content: space-between; }
  .logo {
    display: flex;
    margin-left: 50px;
    margin-right: 0px; }
  .imagen-logo {
    height: 100px;
    width: 350px; }
  .redes-sociales-nav {
    display: flex;
    flex-direction: row; }
  .caja {
    height: 1400px; }
  #caja {
    height: 1300px; } }

@media (max-width: 480px) {
  .imagen-logo {
    display: none; }
  .imagen-logo-mobile {
    height: 100px;
    width: 100px; }
  .logo-mobile {
    visibility: visible;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px; }
  .contenedor__de__animales {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal1-y-2 {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal3-y-4 {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal5-y-6 {
    display: flex;
    flex-direction: column; }
  #publicidad1 {
    display: none; }
  #publicidad2 {
    display: none; }
  .contenedor-redes-sociales {
    margin-right: 20px;
    display: block; }
  .header {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100px;
    width: 100%;
    align-content: space-between;
    justify-content: space-between; }
  .logo {
    display: flex;
    margin-left: 10px;
    margin-right: 0px; }
  .imagen-logo {
    height: 100px;
    width: 200px; }
  .redes-sociales-nav {
    display: flex;
    flex-direction: row; }
  .caja {
    height: 1400px; }
  #caja {
    height: 1300px; }
  .contenedor-de-minimapa {
    display: none; }
  .footer {
    height: 300px; } }

@media (max-width: 365px) {
  .imagen-logo {
    display: none; }
  .imagen-logo-mobile {
    height: 100px;
    width: 100px; }
  .logo-mobile {
    visibility: visible;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 20px; }
  .contenedor__de__animales {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal1-y-2 {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal3-y-4 {
    display: flex;
    flex-direction: column; }
  .contenedor-de-animal5-y-6 {
    display: flex;
    flex-direction: column; }
  #publicidad1 {
    display: none; }
  #publicidad2 {
    display: none; }
  .contenedor-redes-sociales {
    margin-right: 20px;
    display: block; }
  .header {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100px;
    width: 100%;
    align-content: space-between;
    justify-content: space-between; }
  .logo {
    display: flex;
    margin-left: 10px;
    margin-right: 0px; }
  .imagen-logo {
    height: 100px;
    width: 200px; }
  .redes-sociales-nav {
    display: flex;
    flex-direction: row; }
  .caja {
    height: 1400px; }
  #caja {
    height: 1300px; }
  .contenedor-de-minimapa {
    display: none; }
  .footer {
    height: 300px; } }
